
  <!-- {{#each surfboards}}
    <li class="quiver_handles">
      <strong>Board id: {{this.id}}</strong>
      <br>
      Shape: {{this.shape}}
      <br>
      Size: {{this.height}}"
      <br>
      Fin Setup: {{this.fin_setup}}
      <hr>
        <button type="button" id={{this.id}}>Add board</button>
    </li>
  {{/each}} -->
